<div class="templateBody">
	Sign in form goes here

	<form ng-submit="newUser()" name="signUpForm" class="signUpForm">
		<div class="signUpInputs">
			<input type="text" placeholder="First Name" name='username'
				ng-model="signUp.firstName" required />
		</div>
		<div class="signUpInputs">
			<input type="text" placeholder="Last Name" name='username'
				ng-model="signUp.lastName" required />
		</div>
		<div class="signUpInputs">
			<input type="text" placeholder="Username" name='username'
				ng-model="signUp.username" required />
		</div>
		<div class="signUpInputs">
			<input type="password" placeholder="Password" name='password'
				ng-model="signUp.password" required />
		</div>
		<div class="signUpInputs">
			<input type="password" placeholder="Confirm Password"
				name='RePassword' ng-model="signUp.RePassword" required />
		</div>
		<div class="signUpInputs">
			<input type="text" placeholder="Country" name='country'
				ng-model="signUp.country" required />
		</div>
		<div class="signUpInputs">
			<select ng-options="x for x in stateList"
				ng-change="getCityPopulated(signUp.state)" placeholder="State" name='state'
				ng-model="signUp.state" required></select>
		</div>
		<div class="signUpInputs">
			<select ng-options="x for x in cityList" placeholder="City" name='city'
				ng-model="signUp.city" required></select>
		</div>
		<div class="signUpInputs">
			<textarea rows="3" cols="3" placeholder="Address" name='address'
				ng-model="signUp.address" required></textarea>
		</div>
		<div class="signUpInputs">
			<input type="number" placeholder="Postal Code" name='postalCode'
				ng-model="signUp.zipCode" required />
		</div>
		<br> <br> <input type="submit" value="LOGIN" />
	</form>


</div>